{% extends 'base.html.twig' %}

{% block title %}
{{ serie.name }} | {{ parent() }}
{% endblock %}


{% block body %}

<h2>{{ serie.name }}</h2>

<img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{serie.name}}">
<br>
<div> {{ serie.overview }} </div>
<br>
<div> {{ serie.popularity }} </div>
<br>
<div> Note : {{ serie.vote }} / 10 </div>
<br>




{% endblock %}

